cat <<EOL > .gitignore
# Python
__pycache__/
*.pyc

# Data files
data/processed/*.db

# Allow processed KPI CSV outputs
!data/processed/*.csv


# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Secrets
.env
EOL
